/* http://meyerweb.com/eric/tools/css/reset/ 
  v2.0 | 20110126
  License: none (public domain)
*/
* {
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat', 'Noto Sans KR';
}


/* cus 영역 */
.cus_wrap {
  position: relative;
  background-position: center;
  max-width: 1400px;
  height: 1100px;
  margin: 0 auto;
  display: block;
  margin-top: 60px;
  margin-bottom: 250px;
}

.cus_wrap .ecoce-bot {
  position: absolute;
  top: 5%;
  right: 0;
  width: 740px;
}

.cus_wrap .ministry-Environ-img {
  position: absolute;
  right: 0;
  top: 290px;
  width: 350px;
}

.cus_wrap .ecoce-img-wrap {
  position: relative;
  height: 100%;
  top: 160px;
  width: 960px;
}

.cus_wrap .ecoce-img-wrap .ecoce-img {
  position: absolute;
  left: 0;
  width: 100%;
}

.cus_wrap .eco-clean-earth {
  position: absolute;
  right: 0;
  top: 830px;
  text-align: right;
  line-height: 45px;
  margin-top: 50px;
}

.cus_wrap .eco-clean-earth p:first-child {
  font-size: 40px;
  font-weight: 600;
}

.cus_wrap .eco-clean-earth p:last-child {
  font-size: 30px;
}

/*  cus 영역반응형 적용 */
@media screen and (max-width:1500px) {
	.cus_wrap {
    height: 60vw;
  }
	.cus_wrap .ecoce-bot {
    top: 5%; 
    width: 53%; 
    right: 2%;
  }
	.cus_wrap .ministry-Environ-img {
    top: 30%;
    width: 25%;
    right: 2%;
  }
	.cus_wrap .ecoce-img-wrap {
    top: 20%;
    width: 69%;
    left: 2%;
  }
	.cus_wrap .eco-clean-earth {
    top: 90%;
    right: 2%;
  }
}
@media screen and (max-width:1217px){
  .cus_wrap .eco-clean-earth p:first-child {
    font-size: 30px;
  }
	.cus_wrap .eco-clean-earth p:last-child {
    font-size: 25px;
  }
}
@media screen and (max-width: 940px){
  body {max-width: 767px; overflow-x: hidden;}
  .cus_wrap{
    height: auto;
    margin: 60px 2%;
  }
  .cus_wrap .ecoce-bot{
    width: 75%;
    position: unset;
  }
  .cus_wrap .ecoce-img-wrap .ecoce-img {
    position: unset;
  }
  .cus_wrap .ministry-Environ-img {
    display: none;
  }
  .ecoce-img-wrap {
    width: 85%;
    height: auto;
    margin: 0 auto;
    margin-top: 65px;
    margin-bottom: 30px;
  }
  .cus_wrap .eco-clean-earth {
    margin: 0;
    position: unset;
  }
}
@media screen and (max-width: 640px){
  .cus_wrap .eco-clean-earth {
    line-height: 35px;
  }
	.cus_wrap .eco-clean-earth p:first-child {
    font-size: 28px;
  }
	.cus_wrap .eco-clean-earth p:last-child {
    font-size: 22px;
  }
	.cus_wrap .ecoce-bot {
    width: 95%;
  }
  .cus_wrap .ecoce-img-wrap {
    margin-top: 40px;
  }
}
@media screen and (max-width: 430px){
  .cus_wrap .cus_content > h3 {
    font-size: 30px;
  }
	.cus_wrap .cus_content > p {
    font-size: 22px;
  }
  .cus_wrap .eco-clean-earth p:first-child {
    font-size: 22px;
    line-height: 22px;
  }
	.cus_wrap .eco-clean-earth p:last-child {
    font-size: 20px;
  }
}
