.topBtn {
    position: fixed;
    z-index: 99999;
    bottom: 7%;
    right: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.topBtn a{
    font-weight: 500; 
    font-size: 16px; 
    color: var(#dddddd);
    }
button.move{
    border-radius: 50%; 
    border: 2px solid var(#dddddd); 
    background: white; 
    cursor: pointer; 
    margin-bottom: 5px;}
button.move i{
    padding: 5px; 
    font-size: 32px;}