/* http://meyerweb.com/eric/tools/css/reset/ 
  v2.0 | 20110126
  License: none (public domain)
*/
a{
    text-decoration: none;
    color: #000;
  }
  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  article, aside, canvas, details, embed, 
  figure, figcaption, footer, header, hgroup, 
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure, 
  footer, header, hgroup, menu, nav, section {
    display: block;
  }
  body {
    line-height: 1;
  }
  ol, ul {
    list-style: none;
  }
  blockquote, q {
    quotes: none;
  }
  blockquote:before, blockquote:after,
  q:before, q:after {
    content: '';
    content: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

  /* slide 영역 */

.news_wrap{
    width: 100%;
    padding: 80px 0;
    background-color: #f8f8f8;
}
.title {
  text-align: center;
}
.cotainer_slider{
  width: 100% ;
  padding:50px;     
}
#slider-div {
  display: flex;
  max-width: 1400px;
  margin: 0 auto;
  
}
.slide_box {
  background-color: rgb(255, 255, 255);
  width: 330px; margin: 20px;
  text-align: center;
}
.slide_box p {
  margin: 10px 0;
}
.slide_box img {
  width: 240px;
  height: 80px;
  object-fit: fill;
  margin: 0 auto;
}

/* cus 영역 */
.cus-wrap {
  width: 100%;
  background: url(../img/web.png) no-repeat ;
  position: relative;
  background-position: center;
  max-width: 1400px;
  height: 1100px;
  margin: 0 auto;
  display: block;
  margin-top: 60px;
  margin-bottom: 250px;
}
.cus-wrap .ecoce-bot{
  position: absolute;
  top: 5%;
  right: 0;
}

.cus-wrap .ministry-Environ-img{
  position: absolute;
  right: 0;
  top: 290px;
  width: 350px;
}
.cus-wrap .ecoce-img-wrap{
  position: relative;
  height: 100%;
  top: 160px;
  width: 960px;
}
.cus-wrap .ecoce-img-wrap .ecoce-img{
  position: absolute;
  left: 0;
  width: 100%;
}
.cus-wrap .eco-clean-earth{
  position: absolute;
  right: 0;
  top: 830px;
  text-align: right;
  line-height: 45px;
  margin-top: 50px;
}
.cus-wrap .eco-clean-earth p:first-child {
    font-size: 40px;
    font-weight: 600;
}
.cus-wrap .eco-clean-earth p:last-child {
  font-size: 30px;
}