* {
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: #000;
}
body {
    max-width: 100%;
}
.app-text{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    text-align: center;
    color: #ffffff;
}
div {
    display: block;
}
.back.flip-item {
    text-align: center;
    line-height: 30px;
    width: 100%;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
 }
.layoutImg{
    display: block;
    background: rgba(20, 21, 22, 0.445);
    width: 100%;
    height: 100%;
    position: relative;
    margin-bottom: -350px;
}


.b_wrap {
    padding: 200px 0;
    overflow: hidden;
}

.b_wrap .busi_content_wrap {
    max-width: 1400px;
    margin: 0 auto;
}

.b_wrap .business_list {
    width: 100%;
    display: flex;
}

ul {
    list-style: none;
}

.flip {
    box-sizing: border-box;
    cursor: pointer;
    width: calc(100% / 4 - 3%);
    height: 350px;
    position: relative;
    margin: 0 1.5%;
}

.b_wrap .business_list li a {
    display: block;
    position: relative;
    text-align: center;
    height: 100%;
    transition: box-shadow .2s;
}

.b_wrap .business_list li a .title {
    font-size: 23px;
    margin: 10px 0;
    font-weight: 500;
    color: #2e2e2e;
}

.subTitleEng {
    text-transform: uppercase;
    text-align: center;
    color: #ee72d8;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 3px;
}

.b_wrap .business_list li a .img_wrap {
    position: relative;
    width: 100%;
    height: 185px
}

.b_wrap .business_list li a .img_wrap img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
}

.b_wrap .busi_content_wrap .business_list .flip:first-child img {
    width: 140px;
}

.b_wrap .business_list .flip {
    box-sizing: border-box;
    cursor: pointer;
    width: calc(100% / 4 - 3%);
    height: 350px;
    position: relative;
    margin: 0 1.5%;
}

.b_wrap .business_list .flip .flip-item {
    backface-visibility: hidden;
    background: #f6f6f6;
    transition: 1s;
    width: 100%;
    height: 100%;
}

.b_wrap .business_list .flip .front {
    position: absolute;
    backface-visibility: hidden;
    transition: 1s;
    transform: rotateY(0deg);
}

.b_wrap .business_list .flip .front a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.b_wrap .business_list .flip .back {
    transform: rotateY(-180deg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.b_wrap .business_list .flip:hover .front {
    transform: rotateY(180deg);
}

.b_wrap .business_list .flip:hover .back {
    transform: rotateY(0deg);
}

.b_wrap .busi_content_wrap .business_list .flip:first-child img {
    width: 170px;
}
@media screen and (min-width: 1217px) and (max-width: 1720px){
    .b_wrap{max-width: 1550px; margin: 0 auto;}
}
@media screen and (max-width: 940px){
    .b_wrap .business_list .flip{height: 300px;}
    .b_wrap{padding: 100px 0;}
    .b_wrap .business_list{flex-wrap: wrap;}
    .b_wrap .business_list .flip{width: calc(100% / 2 - 4%); margin: 2%;}
}
@media screen and (max-width: 767px){
    .b_wrap{max-width: 100%; margin: 0 auto; height: auto; padding: 40px 0;}
    .b_wrap .busi_content_wrap {padding: 60px 20px;}
}
@media screen and (max-width: 640px){
    body {max-width: 640px; overflow-x: hidden;}
    .b_wrap .business_list .flip{height: 300px;}
    .b_wrap .business_list .flip{height: 250px;}
    .b_wrap .business_list li a .img_wrap{height: 125px;}
    .b_wrap .business_list li a .img_wrap img{width: 80px;}
    .b_wrap .busi_content_wrap .business_list .flip:first-child img{width: 135px;}
    .b_wrap .business_list li a .title{font-size: 20px; }
    .subTitleEng{font-size: 13px;}
}
@media screen and (max-width: 430px){
    .b_wrap .business_list li a .title{font-size: 20px;}
    .subTitleEng{font-size: 14px;}
    .b_wrap .business_list .flip{width: 100%; height: 250px;}
    .b_wrap .busi_content_wrap .flip:first-child li img{width: 130px !important;}
}
